@import url(http://fonts.googleapis.com/css?family=Lato:900);
@import url(http://fonts.googleapis.com/css?family=Playball); 

body {
	font-size: 100%;
}
a {
	font-family: 'Lato';
}

h1 {
	font-family: 'Lato';
	color: #2AA898;	
}
.header {

}
.logo {
	font-family: 'Playball'
}
.dropdown {
	display: inline;
}
#side-bar {
	display: block;
}