@import url(http://fonts.googleapis.com/css?family=Lato:900);
@import url(http://fonts.googleapis.com/css?family=Playball); 

body {
	font-size: 100%;
	background-color: #DDD;
	width: 100%;
}
.container {
	background-color: #D1CDD1;
}
nav {
	color: #E4C313;
	display: inline;
}
a {
	font-family: 'Lato';
}

h1 {
	font-family: 'Lato';
	color: #cdcdcd;
	background-color: #2AA898;
	padding-left: 10px;	
}
h4 {
	font-family: 'Playball';
	color: #6b6b6b;
}
